<!doctype html>

<html>
 	<head>
 		<meta charset="utf-8">
 		<title>Calculator</title>
 		
 		<style>
			body{
				font-family: Palatino;
				background: #6B90D4;
			}
			div{
				border: 3px;
				color: black;
			}
 		</style>
 	</head>

 	<body>
 		<div class="container">
 			Here is some data: </br>
 			<div class="data"> 
 				<% include data.ejs %>
 			</div>
 		</div>
 	</body>
</html>