body{
	font-family: Palatino;
	background: #6B90D4;
}
.container {
	position: absolute;
	top: 10%;
	left: 35%;
}
.screen {
	height: 60px;
}
.but { 
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.but:hover {
	background-color: #4577D4;
	color: white;
}